/* Global classes */

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --hover: rgba(173,40,235,255);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}

body {
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    background-color: var(--light-pink);
    background-image: url(./images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    place-content: center;
    padding: 8.75rem 1rem;
    font-size: 1rem;
    color: var(--dark-purple);
    line-height: 1.5;
}

/* Specific classes */

.container {
    background-color: var(--white);
    max-width: 600px;
    border-radius: 10px;
    padding: 1.875rem 1.5rem 0 1.5rem;
    box-shadow: 0px 10px 43px -24px rgba(0,0,0,0.2);
}

.container__heading {
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.container__heading img {
    width: 30px;
    height: auto;
}

.container__accordion .accordion__item:not(:last-child) {
    border-bottom: 1px solid var(--light-pink);
} 

.accordion__item {
    padding-bottom: 1rem;
}

.accordion__item.last {
    margin-bottom: 1rem;
}

.accordion__question {
    width: 100%;
    padding-top: 1.5rem;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    font-size: 16px;
    transition: .3s ease;
}

.accordion__question:hover {
    color: var(--hover);
}

.accordion__icons {
    width: 25px;
    height: auto;
}

.accordion__question:not(.open) .minus--icon, 
.accordion__question.open .plus--icon { 
    display: none;
}

.accordion__question.open .minus--icon { 
    display: block;
}

.accordion__text {
    color: var(--grayish-purple);
    font-size: 15px;
    padding-top: .75rem;
}

.accordion__collapse {
    transition: height .3s ease;
    height: 0;
    overflow: hidden;
}

/* .open {
    display: block;
    overflow: visible;
} */

/* 660px and above */
@media (min-width: 660px) {
    body {
        background-image: url(./images/background-pattern-desktop.svg);
        overflow: hidden;
    }
}

/* 1440px and above */
@media (min-width: 1440px) {
    body {
        background-position-y: -6%;
    }

    .container__heading {
        font-size: 2rem;
    }

    .container__heading img {
        width: 40px;
        height: auto;
    }
}